<div class="modal fade" id="player-modal">
</div>
<div class="container">
	<div class="row row-content">
		<div class="col-xs-12">
			<div class="text-primary text-center">
				<h2><%= @team.name %></h2>
			</div>
		</div>


		<div class="col-xs-12 col-sm-8 col-sm-offset-1">
			<p class="space"></p>
			<div class="media">
				<div class="media-left media-middle">
			  		<%= image_tag @team.logo, width: "150", class: "img-responsive img-thumbnail media-object" %>
				</div>

				<div class="media-body">
					<%= @team.description %>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-xs-offset-2 col-sm-2 col-sm-offset-0">
				<p class="space"></p>
				<h3>Position - 2015</h3>
				<div class="team-points">
					<%= @team.id %>
				</div>
		</div> <!-- /column -->
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="well well-sm" id="motto">
				<blockquote>
					<span><%= @team.motto %></span>
				</blockquote>
			</div>
		</div>
	</div>

	<!-- This row displays the recent performance -->
	<% if @recent_matches.length > 0%>
	<div class="row">
		<p class="space"></p>
		<div class="col-xs-12 col-sm-4">
			<h3>Recent Performance</h3>
			<br>
				<% @recent_matches.each do |match| %>
						<% result = team_status(match, @team) %>
						<% opponent = match.first_team %>
						<% if opponent == @team %>
							<% opponent = match.opponent_team %>
						<% end %>
						<!-- Look at application_helper.rb -->
						<div class="col-xs-3">
							<% if result == "W"%>
								<div class="circle green-circle" data-toggle="tooltip" title="<%= "Vs #{titlecase(opponent.name)}"%>" data-placement="bottom">
									W
								</div>

							<% elsif result == "D" %>
								<div class="circle yellow-circle" data-toggle="tooltip" title="<%= "Vs #{titlecase(opponent.name)}"%>" data-placement="bottom">
									D
								</div>

							<% elsif result == "L" %>
								<div class="circle red-circle" data-toggle="tooltip" title="<%= "Vs #{titlecase(opponent.name)}"%>" data-placement="bottom">
									L
								</div>
							<% end %>
						</div>
				<% end %>
		</div> <!-- /column -->

		<!-- Upcoming matches -->
		<div class="col-xs-12 col-sm-6">
			<ul class="list-group">
				<li class="list-heading list-group-item"> Upcoming matches</li>
				<% @upcoming_matches.each do |match| %>
				<li class="list-group-item">
					<%= render match %>
				</li>
				<% end %>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-4">
		</div>
	</div> <!-- /row -->
	<% end %>

<!-- This row is for the team squad -->
	<div class="row row-content">
		<p class="space"></p>
		<div class="col-xs-12 col-sm-6">
			<h3 class="text-center text-primary	">Squad</h3><br>
			<% @team.players.each do |player| %>
				<div class="col-xs-6 col-sm-2">
					<% if player.id == @team.captain %>
						<div class="thumbnail player-image captain-image">
					<% else %>
						<div class="thumbnail player-image">
					<% end %>
						<%=link_to image_tag(player.photo), player_path(player) , remote: true %>
					</div>
				</div> <!--End of inner column -->
			<% end %>
		</div> <!--End of outer column -->


		<!-- Start of stats -->
		<div class="col-xs-12 col-sm-6">
			<table class="table table-condensed table-responsive table-striped stats-table" id="stats-table">
				<thead>
					<tr>
						<th>Team / Stats</th>
						<th>P</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>GS</th>
						<th>GA</th>
					</tr>
				</thead>

				<tbody>
					<% @other_teams.each do |opponent_team| %>
					<tr>
						<th> <%= opponent_team.name %> </th>
						<td><%= @team.matches(opponent_team.id).length %></td>
						<!-- Figure out how to display Wins, Draws and losses -->
						<td> <%= @team.wins_count opponent_team.id %></td>
						<td> <%= @team.draws_count opponent_team.id %> </td>
						<td> <%= @team.losses_count opponent_team.id %></td>
						<td><%= @team.goals_scored opponent_team.id %></td>
						<td><%= opponent_team.goals_scored @team.id %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<div class="well well-sm abbreviations text-center">
				<span class="text-pink">P-</span>&nbsp;Played&nbsp;
				<span class="text-pink">W-</span>&nbsp;Wins&nbsp;
				<span class="text-pink">D-</span>&nbsp;Losses&nbsp;
				<span class="text-pink">L-</span>&nbsp;Draws&nbsp;
				<span class="text-pink">GS-</span>&nbsp;Goals Scored&nbsp;
				<span class="text-pink">GA-</span>&nbsp;Goals Against&nbsp;

			</div>
	</div><!--End of second column -->
	</div> <!--End of second row  -->


	<div class="row row-content">

		<div class="col-xs-12 col-sm-6">
			<%= render @team %>
		</div> <!-- End of column -->

		<!-- Pie charts -->
		<div class="col-xs-12 col-sm-5 col-sm-offset-1 pie-chart">
				<%= pie_chart({"Wins": @wins, "Losses": @losses, "Draws": @draws}, colors: ["#26A65B", "#e00010", "#f1c40f"], library: {backgroundColor: "#fff"}) %>
		</div> <!-- /column -->

		<!-- Displays the goal scorers -->
		<div class="col-xs-12 col-sm-4 col-sm-offset-1">
			<ul class="list-group">
				<li class="list-heading list-group-item"> Top Scorers</li>
				<% @top_scorers.each do |top_scorer|%>
				<li class="list-group-item"><%= top_scorer.name %>
					<span class="pull-right text-pink">
						<%= top_scorer.goals_count %>
					</span>
				</li>
				<% end %>
			</ul>
		</div>
		<% top_scorer = @top_scorers.first %>
		<!--<div class="col-xs-12 col-sm-4 col-sm-offset-1">
			<div class="panel panel-danger">
				<div class="panel-heading text-center">
					<h3>Top scorer</h3>
				</div>
				<div class="panel-body">
					<%= image_tag top_scorer.photo, class: "img-responsive" %>
				</div>

				<div class="panel-footer text-center text-pink">
					<%= top_scorer.name %>
				</div>
			</div>
		</div>-->

	</div> <!-- End of third row -->



</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
