<div class="modal fade" id="player-modal">
</div>
<div class="container">
	<div class="row row-content">
		<div class="col-xs-12">
			<div class="text-primary text-center">
				<h2><%= @team.name %></h2>
			</div>
		</div>


		<div class="col-xs-12">
			<p class="space"></p>
			<div class="media">
				<div class="media-left media-middle">
			  		<%= image_tag @team.logo, width: "150", class: "img-responsive img-thumbnail media-object" %>
				</div>

				<div class="media-body">
					<%= @team.description %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="well well-sm" id="motto">
				<blockquote>
					<%= @team.motto %>
				</blockquote>
			</div>
		</div>
	</div>

<!-- This row is for the team squad -->
	<div class="row row-content">
		<p class="space"></p>
		<div class="col-xs-12 col-sm-6">
			<h3 class="text-center text-primary	">Squad</h3><br>
			<% @team.players.each do |player| %>
				<div class="col-xs-6 col-sm-2">
					<% if player.id == @team.captain %>
						<div class="thumbnail player-image captain-image">
					<% else %>
						<div class="thumbnail player-image">
					<% end %>
						<%=link_to image_tag(player.photo), player_path(player) , remote: true %>
					</div>
				</div> <!--End of inner column -->
			<% end %>
		</div> <!--End of outer column -->


		<!-- Start of stats -->
		<div class="col-xs-12 col-sm-6">
				<table class="table table-condensed table-responsive table-striped stats-table" id="stats-table">
					<thead>
						<tr>
							<th>Team / Stats</th>
							<th>Games</th>
							<th>Goals Scored</th>
							<th>Goals Against</th>
						</tr>
					</thead>

					<tbody>
						<% @other_teams.each do |opponent_team| %>
						<tr>
							<th> <%= opponent_team.name %> </th>
							<td><%= @team.matches opponent_team.id %></td>
							<td><%= @team.goals_scored opponent_team.id %></td>
							<td><%= opponent_team.goals_scored @team.id %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
	</div><!--End of second column -->
	</div> <!--End of second row  -->


	<div class="row row-content">

		<div class="col-xs-12 col-sm-6">
			<%= render @team %>
		</div> <!-- End of column -->

		<div class="col-xs-12 col-sm-4 col-sm-offset-1">
			<div class="panel panel-danger">
				<div class="panel-heading text-center text-danger">
					<h3>Top scorer</h3>
				</div>
				<% random_player = @team.players.shuffle[2] %>
				<div class="panel-body">
					<%= image_tag random_player.photo, class: "img-responsive" %>
				</div>

				<div class="panel-footer text-center text-pink">
					<%= random_player.name %>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-sm-offset-1">
			<div class="panel panel-success">
				<div class="panel-heading text-center">
					<h3>Facts</h3>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>Captain</dt>
						<dd> <%= @team.team_captain.name %> </dd>

						<dt>Coach</dt>
						<dd>Team coach</dd>
					</dl>
				</div>
			</div>
		</div>
	</div> <!-- End of third row -->

	<div class="row">
		<p class="space"></p>
		<div class="col-xs-12 col-sm-4">
			<h3>Recent Performance</h3>
			<div class="well">
				<div class="circle green-circle">
					W
				</div>
				<div class="circle yellow-circle">
					D
				</div>
				<div class="circle red-circle">
					L
				</div>
				<div class="circle green-circle">
					W
				</div>
				<div class="circle red-circle">
					L
				</div>
				<div class="circle yellow-circle">
					D
				</div>
			</div>
		</div>

		<!-- -->

		<div class="col-xs-12 col-sm-4">
		</div>

		<div class="col-xs-12 col-sm-4">
		</div>
	</div>
</div>
