<div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="jumbotron text-center banner">
                <div class="container font-big">
                    <p>Welcome to <span class="title-style">Anna Hockey League'16</span></p>
                    <p>One-of-a-kind league promoting hockey in Chennai</p>
                </div>
            </div> <!-- jumbotron -->
        </div> <!-- end of first column -->

        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
            <div class="panel panel-primary" id="liveScoreArea">
                <div class="panel-heading text-center">
                    <h3>Live Score</h3>
                </div>

                    <div class="panel-body">
                        <div class="text-center">
                            <%= image_tag @current_match.first_team.logo,width: "40", height: "25", class: "img-responsive livescore-style" %>
                            <%=  short_form @current_match.first_team.name %>&nbsp;&nbsp;
                            <span class="text-pink" id="first_team_score"><%= @live_score.teamone_goals %></span>&nbsp;-&nbsp;
                            <span class="text-pink" id="second_team_score"><%= @live_score.teamtwo_goals%>&nbsp;&nbsp;</span>
                            <%=  short_form @current_match.opponent_team.name %>
                            <%= image_tag @current_match.opponent_team.logo,height: "25", width: "40", class: "img-responsive livescore-style" %>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <marquee>
                            <span id="commentary"><%= @live_score.commentary %></span>
                        </marquee>
                    </div>
            </div> <!--  End of panel -->
        </div> <!-- end of second column -->
    </div> <!-- end of first row -->


<div class="container">
    <div class="row">
        <p class="space"></p>
        <div class="col-xs-12 col-sm-6">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>

                  <!-- Wrapper for slides -->

                  <div class="carousel-inner" role="listbox">
                     <% @reports.each_with_index do |report, index| %>
                            <% if index == 0 %>
                                <div class="item active">
                            <% else %>
                                <div class="item">
                            <% end %>
                                    <%= link_to (image_tag(report.image, alt: "Image missing")), report %>
                                    <div class="carousel-caption">
                                        <h4><%= report.caption %></h4>
                                    </div>
                                </div>
                      <% end %>
                  </div> <!-- Carousel-inner -->
                  <!-- Controls -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div> <!-- end of Carousel -->
    </div> <!-- end of column -->

    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <table class="table table-responsive table-striped leaderboard">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
            </thead>

            <tbody>
                <% @teams.each do |team| %>
                    <tr>
                        <td> <%= team.name %> </td>
                        <td> <%= team.points %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    </div> <!-- row-->



    <!-- Row for displaying the top scorers-->
    <div class="row">
        <p class="space"></p>
        <div class="col-xs-12 text-center">
            <h2>Top Scorers</h2>
            <br>
        </div>
        <p class="space"></p>
        <% @top_scorers.each do |top_scorer| %>
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-warning">
                    <div class="panel-heading text-center">
                        <span class="text-pink"><%= top_scorer.name %></span>
                    </div>

                    <div class="panel-body">
                        <%= image_tag top_scorer.photo, class: "img-responsive" %>
                    </div>

                    <div class="panel-footer text-center">
                        <span class="text-pink text-big"><%= pluralize(top_scorer.goals_count,"goal") %></span>
                    </div>
                </div> <!--  end of panel -->
            </div> <!-- end of column -->
        <% end %>
    </div> <!--  End of row -->

    <div class="row">
        <div class="col-xs-12">
            <p style="padding-top:50px;"></p>
            <div class="jumbotron" id="ahl-intro">
                     <h2 class="title-font text-center">A little about AHL</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget dapibus risus, at hendrerit metus. Vestibulum lobortis sit amet arcu eget consequat. Aliquam erat volutpat. In condimentum lacus nunc, eget molestie turpis placerat ut. Proin pretium aliquet elit, auctor auctor quam pulvinar at. Vivamus vel interdum urna. Mauris et ante vitae sem aliquet hendrerit sed dictum tellus. Quisque id consequat arcu, ac ornare nibh. Integer eu blandit elit. Cras dapibus quam a erat elementum, eu volutpat lorem laoreet. Aenean fermentum nec turpis dignissim sollicitudin. Nunc consequat lacus id magna lacinia, eget pretium ante euismod. Ut molestie felis sed odio facilisis rhoncus. Suspendisse potenti.

                    Maecenas et magna auctor, efficitur leo eu, molestie velit. Proin orci risus, ornare vulputate finibus blandit, vehicula vestibulum nulla. In varius quis elit at consequat. Cras leo ex, consectetur id nunc nec, lobortis tristique tortor. Nullam urna augue, fermentum et varius eu, blandit in nibh. Proin vitae lobortis diam. Donec vitae tincidunt ipsum.

                    Aenean laoreet quam eu varius scelerisque. ltrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean varius odio et massa vestibulum, in tempor diam tincidunt. Nam vitae lobortis arcu. Cras bibendum sapien eu augue sodales, nec varius purus lacinia. Etiam semper enim vel lacus dictum bibendum. Vivamus commodo at mi quis imperdiet. Suspendisse sit amet porta sem. Pellentesque eget urna ac metus maximus facilisis.
            </div> <!-- end of jumbotron -->
        </div> <!-- end of column -->
    </div> <!--end of a row -->



    <div class="row">
        <p class="space"></p>
        <div class="col-xs-12 text-center">
            <h2> Past Winners </h2>
        </div> <!-- end of column -->
        <p class="space"></p>
        <% year = 2015 %>
        <% %w[white.png white.png yellow.jpg blue.jpg yellow.jpg green.jpg violet.jpg blue.jpg yellow.jpg].each do |logo| %>
            <div class="col-xs-6 col-sm-2">
                <%= image_tag logo, height: "70", width:"100" %>
                <caption><%= year %></caption>
                <% year -= 1 %>
            </div>
        <% end %>
    </div> <!-- end of row -->


    <div class="row">
        <p class="space"></p>
        <div class="col-xs-12 text-center">
            <h2>Our Sponsors</h2>
        </div>
        <div class="col-xs-6 col-sm-4">
            <%= image_tag "sticker.jpg", class: "img-responsive"%>
        </div>

        <div class="col-xs-6 col-sm-4">
            <%= image_tag "sticker.jpg", class: "img-responsive" %>
        </div>

        <div class="col-xs-6 col-sm-4">
            <%= image_tag "sticker.jpg", class: "img-responsive"%>
        </div>
    </div> <!--row -->


</div> <!-- container-->
