
<head> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
        $("#commentary_btn").click(function(){
            $("#commentary_box").slideToggle(1000);

      });
  });

  $(document).ready (function () {
    done();
    
  });

  function done(){
    setTimeout(function() { 
      updates();
      done(); 
    }, 2000 );
  }

  function updates(){

    $.getJSON("/new_commentary.json", function(data){
        
      $.each(data,function(){  
  
        var each_commentary = '<br><div class="col-sm-12 text-left" >'+this['content']+'</div><br>';
        $('#commentary_box').append(each_commentary);

      });
    });
  }

</script>
</head>

<div class="container pr-0">
  <div class="row ridge-bottom">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
      <div class="row ml-mr-0">
        <h2>Snapshots</h2>
        <div id="carousel" class="carousel slide carousel-fade border-with-shadow" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
          </ol>
          <!-- Wrapper for slides -->

          <div class="carousel-inner" role="listbox">
            <% @photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <div class="item active">
              <% else %>
                <div class="item">
                <% end %>
                  <%= image_tag photo.photo_url, alt: "match photo" %>
                </div>
              <% end %>
          </div> <!-- Carousel-inner -->

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left green-back" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right green-back" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> <!-- end of carousel -->
      </div> <!-- nested first row -->

      <div class="row ml-mr-0">
        <div class="col-xs-12 pl-pr-0 mt-20">
          <p class="space"></p>
          <h2 class="mb--10">Articles</h2>
          <div class="news-container">
            <% @reports.each_with_index do |report, index| %>
            <% if index % 2 == 0 %>
              <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
            <% end %>

              <%= link_to report do %>
                <div class="col-xxs-12 col-xs-6 pl-pr-0">
                  <div class="report-box">
                    <%=image_tag report.image, alt: "Report#{report.id} image" %>
                    <div class="panel-footer white-bg border-with-shadow"> <%= report.caption %> </div>
                  </div>
                </div>
              <% end %> <!--/ link_to -->
            <% end %>
          </div> <!-- /end of news-container -->
        </div> <!-- end of column -->
      </div>
    </div> <!-- end of first column -->

    <div class="col-xs-12 col-sm-5 col-sm-offset-1 mb-30">
      <% if @current_match %>
        <h2>Live Score</h2>
        <div class="col-xs-12 white-bg border-with-shadow pt-20">
          <div class="panel panel-danger">
            <% if @live_score %>
              <%= render @live_score %>
            <% else %>
              <!-- If a match has ended, this will be the template -->
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-2">
                    <%= image_tag @current_match.first_team.logo,width: "40", height: "25", class: "img-responsive livescore-style" %>
                  </div>
                  <div class="col-xs-3 set-down">
                    <%=  @current_match.first_team.name %>
                  </div>
                  <div class="col-xs-2 set-down">
                    <span>
                      &nbsp;&nbsp;0&nbsp;&nbsp;-&nbsp;&nbsp;0
                    </span>
                  </div>
                  <div class="col-xs-3 set-down">
                    <%= @current_match.opponent_team.name %>
                  </div>

                  <div class="col-xs-2">
                    <%= image_tag @current_match.opponent_team.logo,height: "25", width: "40", class: "img-responsive livescore-style" %>
                  </div>
                </div>
                
              </div> <!-- End of Panel Body -->
              <div class="panel-footer"> <!-- Start of panel Footer -->
                <div class="comment-marquee text-center">
                  <span>
                  <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Match scheduled at&nbsp;<%= @current_match.time.strftime("%H:%M") %>&nbsp;on
                    <%= @current_match.time.strftime("%b %e") %>
                  </span>
                </div>
              </div> <!-- End of panel Footer -->

            <% end %>
          </div> <!--  End of panel -->
        </div>

       <div class="text-center">
          <button id="commentary_btn" style="background-color:#808080;color:white" class="btn btn-block btn-default">show/view commentary</button>
       </div>
       
       <div id="commentary_box" style="background-color:#E6E6FA" class="panel panel-danger" hidden >
        

       </div>
        

      <% else %>
        <h2>Announcement</h2>
        <div class="col-xs-12 white-bg border-with-shadow pt-20">
          <div class="panel panel-danger">
            <!-- If a match has ended, this will be the template -->
            <div class="panel-body pb-0">
              <div class="row text-center">
                <h3>Tournament has ended</h3><br>
                <div class="text-center">
                  <%= link_to matches_path, class: "btn btn-block btn-danger match-button" do%>
                    CHECK OUT THE RESULTS&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
                </div>
              </div> <!-- /row-->
            </div> <!-- /panel-body -->
          </div> <!--  End of panel -->
        </div>
      <% end %> <!-- end of if block -->

      <!-- Leaderboard -->
      <div class="col-xs-12 mt-30">
        <h2 class="ml--15">Leaderboard</h2>
      </div>
      <div class="col-xs-12 white-bg border-with-shadow pt-20 mb-30">
        <table class="table table-responsive table-striped leaderboard">
          <thead>
            <tr>
              <th></th>
              <th>Team</th>
              <th>Matches</th>
              <th>Points</th>
            </tr>
          </thead>

          <tbody>
            <% @teams.each do |team| %>
              <tr>
                <td> <%= image_tag team.logo, width: "40", height: "25" %></td>
                <td> <%= team.name %> </td>
                <td> <%= team.matches_played %> </td>
                <td> <%= team.points %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!--  Top scorers -->
      <div class="col-xs-12">
        <% if @matches_ended > 5 %>
          <h2 class="ml--15 mt-30">Top Scorers</h2>
        <% else %>
          <h2 class="ml--15 mt-30">Top Scorers - 2015</h2>
        <% end %>
      </div>
      <!-- Top scorers of 2015 and 2016 -->
      <% if @matches_ended > 5 %>
        <%= render 'top_scorers', players: @top_scorers %>
      <% else %>
        <%= render 'previous_top_scorers' %>
      <% end %>
    </div> <!-- /nested row -->
  </div> <!-- end of second column -->

  <div class="row ridge-bottom">
    <p class="space"></p>
    <h2 class="text-center">A little about AHL</h2>
    <p class="space"></p>

    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
      <div class="jumbotron col-xs-12 border-with-shadow" id="ahl-intro">
        <p class="col-xs-12 col-sm-4">
          <b>Stones into Milestones</b> is the tagline of AHL '17. We are stronger than ever before with the inception of women's hockey team in our university. AHL '17 comprises of 6 teams which are named Sizzling Shooterz, Deadly Dribblerz, Crouching Griffinz, Yo Yo Yakz, Rising Warriorz and Roaring Ruffianz.
        </p>

        <p class="col-xs-12 col-sm-4">
          The league consists of 4 levels and each level has 15 matches. The league comprises of 45 matches for men and 15 matches for women.  A match is divided into 5 rounds, each of 10 minutes totalling 50 minutes of action.
        </p>

        <p class="col-xs-12 col-sm-4">
          The official partners of the previous edition of AHL were&nbsp;<a href="http://www.redblacktree.com" target="_blank">RedBlackTree Techonologies</a>, <a href="http://www.swissgarnier.com" target="_blank">Swiss Garnier Life Sciences</a> and <a href="http://www.licindia.in" target="_blank">Life Insurance Corporation of India</a>.
        </p>
      </div><!-- end of jumbotron -->
    </div> <!-- /column -->
  </div> <!-- row-->

  <div class="row">
    <div class="col-xs-12 text-center">
      <h2> Past Winners </h2>
      <p class="space"></p>
    </div> <!-- end of column -->

    <%= render 'past_winners' %>
  </div> <!-- end of row -->

    <!-- Promo video -->
  <div class="row trailer border-with-shadow">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="text-center">AHL trailer</h2>
      <p class="space"></p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/jV5DD_qsdew"></iframe>
      </div>
      <p class="space"></p>
    </div>
  </div>

  <div class="row">
    <p class="space"></p>
    <div class="col-xs-12 text-center sponsors-container">
      <h2>Previous Sponsors</h2>
      <p class="space"></p>
    </div>
    <ul id="sponsors">
      <li><%= image_tag "rbt.png", class: "img-responsive"%></li>
      <li><%= image_tag "swiss.png", class: "img-responsive" %></li>
      <li><%= image_tag "lic.jpg", class: "img-responsive"%></li>
      <li><%= image_tag "dcb.png", class: "img-responsive"%></li>
    </ul>
  </div> <!--row -->
</div>
</div>