<%= form_for([@match, @live_score]) do |f| %>
  <% if @live_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@live_score.errors.count, "error") %> prohibited this live_score from being saved:</h2>

      <ul>
      <% @live_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.label :teamone_goals, class: "label-control" %>
      <%= f.text_field :teamone_goals ,class: "form-control"%>
  </div>

  <div class="form-group">
      <%= f.label :teamtwo_goals, class: "label-control" %>
      <%= f.text_field :teamtwo_goals ,class: "form-control"%>
  </div>

  <div class="form-group">
      <%= f.label :commentary, class: "label-control" %>
      <%= f.text_area :commentary ,class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary", id: "live_score_submit_button" %>
  </div>
<% end %>
