<%= form_for(@commentary, remote: true) do |f| %>
  <div id="update_commentary" class="aler-alert danger" hidden>
    
  </div>
  <% if @commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% @commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= check_box_tag 'checkbox', "checked",true%>
    <%= f.label :Scores_Changed %><br>
    
    <div id="teamgoal_updating_div">
    
    <div class="form-group">
      <%= f.label :teamone_goals, class: "label-control" %>
      <%= f.text_field :teamone_goals, id: 'teamone_goals', class: "form-control"%>
    </div>
    
    <div class="form-group">
      <%= f.label :teamtwo_goals, class: "label-control" %>
      <%= f.text_field :teamtwo_goals, id: 'teamtwo_goals', class: "form-control"%>
    </div>

    </div>

    <div class="form-group">
    <%= f.label :commentary %><br>
    <%= f.text_area :commentary, cols: "40", rows: "3", id: 'commentary_text_area', :required => true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
