
<div class="panel-body">
    <div class="text-center">
        <%= image_tag live_score.match.first_team.logo,width: "40", height: "25", class: "img-responsive livescore-style" %>
        <%=  short_form live_score.match.first_team.name %>&nbsp;&nbsp;

        <span class="text-pink">
            <%= live_score.teamone_goals %>
        </span>&nbsp;-&nbsp;

        <span class="text-pink">
            <%= live_score.teamtwo_goals%>&nbsp;&nbsp;
        </span>
        <%=  short_form live_score.match.opponent_team.name %>
        <%= image_tag live_score.match.opponent_team.logo,height: "25", width: "40", class: "img-responsive livescore-style" %>
        <div class="text-center">
            <%= link_to @current_match, class: "btn btn-block btn-danger match-button" do%>
                GO TO MATCH CENTER&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
        </div>
    </div>
</div>

<div class="panel-footer">
    <marquee>
        <% if live_score %>
            <span id="commentary" class="text-pink"><%= live_score.commentary %></span>
        <%else%>
            Match hasn't started yet
        <% end %>
    </marquee>
</div>
