<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">

      <%= f.label :team1_id , class: "label-control"%>
      <%= f.text_field :team1_id, class: "form-control" %>

 </div>

 <div class="form-group">
     <%= f.label :team2_id , class: "label-control"%>
     <%= f.text_field :team2_id, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :date , class: "label-control"%>
    <%= f.date_select :date, class: "form-control" %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
