<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
<%= form_for(@match, url: {action: :end_match}) do |f| %>
<% if @match.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@match.errors.count, "error") %> prohibited this goal from being saved:</h2>

    <ul>
    <% @match.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h2>You are updating details for Match <%=  @match.id %></h2>
<div class="form-group">
    <%= f.label :result %>
    <%= f.text_field :result , class: "form-control"%>
</div>

<div class="form-group">
    <%= f.label :man_of_the_match %>
    <%= f.text_field :man_of_the_match , class: "form-control"%>
</div>

<div class="form-group">
    <%= f.submit "End Match" , class: "btn btn-danger"%>
</div>
<% end %>
</div> <!-- /column -->
</div> <!-- /row -->
