<div class="container">
    <!--<div class="row">
        <p class="space"></p>
        <div class="col-xs-12">
            <h2 class="text-primary text-center">Match&nbsp;<%= @match.id %></h2>
        </div>
    </div>--> <!--end of row -->

<div class="jumbotron match-title">
    <div class="row">
        <div class="col-xs-5 col-sm-2 col-sm-offset-3 team-photo">
            <%= image_tag @first_team.logo, class: "img-responsive" %>
        </div>

        <div class="col-xs-2 versus text-big">
            Versus
        </div>

        <div class="col-xs-5 col-sm-2 team-photo">
            <%= image_tag @opponent_team.logo, class: "img-responsive" %>
        </div>
    </div> <!-- /row -->
</div>  <!-- /jumbotron -->

        <div class="text-center match-date">
                <%= @match.date.strftime("%B %d") %>
                <p class="space"></p>
        </div>

    <!-- Space for man of the match -->
    <% if @man_of_the_match %>
        <div class="row">
            <p class="space"></p>
            <div class="col-xs-3 col-sm-2">
                <div class="panel panel-danger">
    				<div class="panel-heading text-center text-danger">
    					<h4>Man of the match</h4>
    				</div>

    				<div class="panel-body">
    					<%= image_tag @man_of_the_match.photo, class: "img-responsive" %>
    				</div>

    				<div class="panel-footer text-center text-pink">
    					<%= @man_of_the_match.name %>
    				</div>

    			</div> <!-- /panel -->
            </div> <!-- /column -->

            <div class="col-xs-9 col-sm-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam id magna pharetra porta. Suspendisse tortor erat, malesuada eget vehicula ac, facilisis ut eros. Aliquam consequat sem id posuere maximus. Mauris tempus massa a leo tempus fringilla. Donec id mattis dui. Morbi id varius elit. In nec finibus turpis, id lacinia erat. Phasellus in nisl nisl.
            </div>

            <div class="col-xs-9 col-sm-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam id magna pharetra porta. Suspendisse tortor erat, malesuada eget vehicula ac, facilisis ut eros. Aliquam consequat sem id posuere maximus. Mauris tempus massa a leo tempus fringilla. Donec id mattis dui. Morbi id varius elit. In nec finibus turpis, id lacinia erat. Phasellus in nisl nisl.
            </div>

                <div class="col-xs-3 col-sm-2">
                    <div class="panel panel-danger">
                        <div class="panel-heading text-center text-danger">
                            <h4>Budding Player</h4>
                        </div>

                        <div class="panel-body">
                            <%= image_tag @man_of_the_match.photo, class: "img-responsive" %>
                        </div>

                        <div class="panel-footer text-center text-pink">
                            <%= @man_of_the_match.name %>
                        </div>

                    </div> <!-- /panel -->
            </div> <!-- /column -->
        </div> <!-- /row -->
    <% end %>

    <!-- row to display the match report -->
    <% if @man_of_the_match  and @match.report%>
        <div class="row">
            <div class="col-xs-12">
                <%= render @match.report %>
            </div>
        </div>
    <% end %>

    <div class="row">
        <p class="space"></p>
        <div class="col-xs-12">
            <h3 class="text-primary text-center">Live Commentary</h3>
            <p class="space"></p>
            <!--Live scores to be displayed here -->
            <% if @live_scores.count == 0 %>
                <div class="text-center">
                    <em>Match hasn't started yet</em>
                </div>
            <% end %>
            <% @live_scores.each do |live_score| %>
                    <div class="well">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-3 col-sm-4 col-sm-offset-1">
                                    <%= image_tag live_score.match.first_team.logo,width: "40", height: "25", class: "img-responsive livescore-style" %>
                                    <%= live_score.match.first_team.name %>
                                </div>

                                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                                    <span class="text-pink text-big">
                                        <strong><%= live_score.teamone_goals %></strong>&nbsp;&nbsp;-&nbsp;
                                        <strong><%= live_score.teamtwo_goals%></strong>
                                    </span>
                                </div>

                                <div class="col-xs-3 col-sm-4">
                                        <%= live_score.match.opponent_team.name %>
                                        <%= image_tag live_score.match.opponent_team.logo,height: "25", width: "40", class: "img-responsive livescore-style" %>
                                </div>
                            </div> <!-- end of row -->
                        </div> <!-- end of panel body -->

                        <div class="panel-footer text-center">
                            <strong><span class="comment"><%= live_score.commentary %></span></strong>
                        </div>
                    </div> <!-- end of well -->
            <% end %>
        </div> <!-- end of column -->
    </div><!-- end of row -->

    <!-- Match details -->
    <p class="space"></p>
    <div class="row">
        <div class="col-xs-5 col-sm-2">
            <%= image_tag @first_team_captain.photo, class: "img-responsive"%><br>
            <div class="text-center">
                <%= @first_team_captain.name %>
            </div>
        </div>

        <div class="hidden-xs col-sm-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam id magna pharetra porta. Suspendisse tortor erat, malesuada eget vehicula ac, facilisis ut eros. Aliquam consequat sem id posuere maximus. Mauris tempus massa a leo tempus fringilla. Donec id mattis dui. Morbi id varius elit. In nec finibus turpis, id lacinia erat. Phasellus in nisl nisl.
        </div>
        <div class="col-xs-5 col-xs-offset-2 col-sm-2 col-sm-offset-0">
            <%= image_tag @opponent_team_captain.photo, class: "img-responsive"%><br>
            <div class="text-center">
                <span><%= @opponent_team_captain.name %></span>
            </div>
        </div> <!-- end of column -->
        <div class="hidden-xs col-sm-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam id magna pharetra porta. Suspendisse tortor erat, malesuada eget vehicula ac, facilisis ut eros. Aliquam consequat sem id posuere maximus. Mauris tempus massa a leo tempus fringilla. Donec id mattis dui. Morbi id varius elit. In nec finibus turpis, id lacinia erat. Phasellus in nisl nisl.
        </div>
    </div> <!-- end of row -->

    <div class="row row-content">
        <p class="space"></p>
        <div class="col-xs-12 col-sm-6">
            <%= render @first_team %>
        </div>


        <div class="col-xs-12 col-sm-6">
            <%= render @opponent_team %>
        </div> <!-- End of column -->
	</div> <!-- End of row -->

</div> <!-- end of container -->
