<div class="container">
    <div class="jumbotron match-title">
        <div class="row">
            <div class="col-xs-5 col-sm-2 col-sm-offset-3">
                <%= image_tag @first_team.logo, class: "img-responsive" %>
            </div>

            <div class="col-xs-2 versus">
                Versus
            </div>

            <div class="col-xs-5 col-sm-2 team-photo">
                <%= image_tag @opponent_team.logo, class: "img-responsive" %>
            </div>
        </div> <!-- /row -->

        <div class="match-date pull-right">
                <%= @match.date.strftime("%B %d") %>
                <p class="space"></p>
        </div>
    </div>  <!-- /jumbotron -->



        <div class="row">
            <% if @match.ended? %>
                <%= render @match, names: [@match.first_team.name, @match.opponent_team.name] %>
            <% end %>
        </div>
    <!-- Space for man of the match -->
    <% if @man_of_the_match %>
        <div class="row">
            <p class="space"></p>
            <div class="col-xs-6 col-sm-3 col-sm-offset-3">
                <div class="panel">
    				<div class="panel-heading text-center man-of-the-match-panel-heading">
    					<h4 class="text-white">Man of the match</h4>
    				</div>

    				<div class="panel-body">
    					<%= image_tag @man_of_the_match.photo, class: "img-responsive" %>
    				</div>

    				<div class="panel-footer text-center text-pink">
    					<%= @man_of_the_match.name %>
    				</div>

    			</div> <!-- /panel -->
            </div> <!-- /column -->

                <div class="col-xs-6 col-sm-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading text-center text-danger">
                            <h4>Budding player</h4>
                        </div>

                        <div class="panel-body">
                            <%= image_tag @budding_player.photo, class: "img-responsive" %>
                        </div>

                        <div class="panel-footer text-center text-pink">
                            <%= @budding_player.name %>
                        </div>

                    </div><!-- /panel -->
            </div><!-- /column -->

        </div> <!-- /row -->
    <% end %>

    <!-- row to display the match report -->
    <% if @man_of_the_match  and @match.report%>
        <div class="row">
            <div class="col-xs-12">
                <%= render @match.report %>
            </div>
        </div>
    <% end %>

    <div class="row">
        <p class="space"></p>
        <div class="col-xs-12 live-scores">
            <h3 class="text-center">Live Commentary</h3>
            <p class="space"></p>
            <!--Live scores to be displayed here -->
            <% if @live_scores.count == 0 %>
                <div class="text-center">
                    <em>Match hasn't started yet</em>
                </div>
            <% end %>
            <% @live_scores.each do |live_score| %>
                    <div class="well">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-3 col-sm-4 col-sm-offset-1">
                                    <%= image_tag live_score.match.first_team.logo,width: "40", height: "25", class: "img-responsive livescore-style" %>
                                    <%= live_score.match.first_team.name %>
                                </div>

                                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                                    <span class="text-pink text-big">
                                        <strong><%= live_score.teamone_goals %></strong>&nbsp;&nbsp;-&nbsp;
                                        <strong><%= live_score.teamtwo_goals%></strong>
                                    </span>
                                </div>

                                <div class="col-xs-3 col-sm-4">
                                        <%= live_score.match.opponent_team.name %>
                                        <%= image_tag live_score.match.opponent_team.logo,height: "25", width: "40", class: "img-responsive livescore-style" %>
                                </div>
                            </div> <!-- end of row -->
                        </div> <!-- end of panel body -->

                        <div class="panel-footer text-center">
                            <strong><span class="comment"><%= live_score.commentary %></span></strong>
                        </div>
                    </div> <!-- end of well -->
            <% end %>
        </div> <!-- end of column -->
    </div><!-- end of row -->

    <!-- Match details -->
    <p class="space"></p>
    <div class="row">
        <div class="col-xs-5 col-sm-2">
            <%= image_tag @first_team_captain.photo, class: "img-responsive"%><br>
            <div class="text-center">
                <%= @first_team_captain.name %>
            </div>
        </div>

        <div class="hidden-xs col-sm-4">
            <%= @match.first_team.description %>
        </div>
        <div class="col-xs-5 col-xs-offset-2 col-sm-2 col-sm-offset-0">
            <%= image_tag @opponent_team_captain.photo, class: "img-responsive"%><br>
            <div class="text-center">
                <span><%= @opponent_team_captain.name %></span>
            </div>
        </div> <!-- end of column -->
        <div class="hidden-xs col-sm-4">
            <%= @match.opponent_team.description %>
        </div>
    </div> <!-- end of row -->

    <div class="row row-content">
        <p class="space"></p>
        <div class="col-xs-12 col-sm-6">
            <%= render @first_team %>
        </div>


        <div class="col-xs-12 col-sm-6">
            <%= render @opponent_team %>
        </div> <!-- End of column -->
	</div> <!-- End of row -->

</div> <!-- end of container -->
