<% if @running_match != nil %>
  <%= form_for([@running_match, @running_match.goals.new], remote: true) do |f| %> 
  <div class="form-group">
    <%= f.label :player_id %>
    <%= f.text_field :player_id, id: "player_text_field" %>
  </div>

  <div class="form-group">
    <%= f.label :opponent_id %>
    <%= f.collection_select :opponent_id, Team.all, :id, :name, prompt: true%>
  </div>

  <%= f.submit class: "btn btn-danger" %>
  <% end %>
<%  else %>
  <div class="alert alert-danger">
    Match not yet started.
  </div>
<% end %>

