<div class="container">
    <% if notice %>
    <div class="alert alert-success">
        <%= notice %>
    </div>
    <% elsif alert %>
    <div class="alert alert-danger">
        <%= alert %>
    </div>
    <% end %>

    <!-- form for creating a new goal -->

    <%= form_for([@match, @match.goals.new]) do |f| %>
        <h3 class="text-primary">New goal</h3>
        <div class="form-group">
            <%= f.label :player_id %>
            <%= f.text_field :player_id %>
        </div>

        <div class="form-group">
            <%= f.label :opponent_id %>
            <%= f.collection_select :opponent_id, Team.all, :id, :name, prompt: true %>
        </div>

        <%= f.submit class: "btn btn-danger" %>
    <% end %>

    <h1>Goals - Match<%= @match.id %></h1>

    <table class="table table-responsive table-hover table-condensed">
      <thead>
        <tr>
            <th>Goal Scorer</th>
            <th>Opponent Team</th>
            <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @goals.each do |goal| %>
          <tr>
              <td><%= goal.player.name %></td>
              <td><%=  Team.find(goal.opponent_id).name%></td>
            <td><%= link_to 'Destroy', [@match, goal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
