<div class="row">
 <p class="space"></p>
</div>
<div class="row report-container">


        <div class="col-xs-12">
                <h4 class="report-title"><%= report.caption %></h4>
                <div class="text-light-grey report-time">
                    Written&nbsp;<%= report.updated_at.strftime("%B %d, %Y") %>
                </div>
                <!--<script src="https://www.facebook.com/assets.php/en_US/sdk.js" async></script>
                <div class="fb-like" data-href="<%= "http://annahockeyleague.com/reports/#{report.slug}" %>"></div>
                <div class="fb-post" data-href="<%= "http://annahockeyleague.com/reports/#{report.slug}" %>"></div>-->
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 report">
            <%= article %>

            <% if article != simple_format(report.article) %>
                <%= link_to report, class: "btn btn-green", remote: true do %>
                    Read More&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
                <% end %> 
            <% end %> <!-- /row -->
          </div>
</div>
