<footer class="footer footer-content">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-1">
            <h3>Links</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam id magna pharetra porta. Suspendisse tortor erat, malesuada eget vehicula ac, facilisis ut eros. Aliquam consequat sem id posuere maximus. Mauris tempus massa a leo tempus fringilla. Donec id mattis dui. Morbi id varius elit. In nec finibus turpis, id lacinia erat. Phasellus in nisl nisl.</p>-->
            <div class="list-unstyled">
                <li><%= link_to "Home",root_path %></li>
                <li><%= link_to "About", static_pages_about_path %></li>
                <li><%= link_to "News", "#" %></li>
                <li><%= link_to "Fixtures","#" %></li>
                <li><%= link_to "Photos","#" %></li>
                <li><%= link_to "Stats", "#" %></li>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4">
            <h3>Contact</h3>
            <div class="contact">
                <address>
                    Anna University Sports Board,
                    College of Engineering Guindy
                </address>
            </div>
        </div>

            <!-- Social icons -->
        <div class="col-xs-12 col-sm-4">
            <h3> Social </h3>
            <div class="social-icons">
                <a class="social-icon" href="http://www.twitter.com">
                    <i class="fa fa-2x fa-twitter" class="social-icon" id="twitter-icon"></i>
                </a>
                    <a class="social-icon" href="http://www.facebook.com">
                        <i class="fa fa-2x fa-facebook-square" class="facebook-icon" id="facebook-icon"></i>
                </a>
                <a class="social-icon" href="http://www.youtube.com/">
                    <i class="fa fa-2x fa-youtube-play" class="social-icon" id="youtube-icon"></i>
                </a>
            </div>

        </div>
    </div> <!-- row-->

</footer>
