<footer class="footer footer-content">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
      <div class="text-center trademark">Anna Hockey League</div>
    </div>


    <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
      <h3>QuickLinks</h3>
      <ul class="list-unstyled">
        <li><%= link_to "Home",root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "News", reports_path %></li>
        <li><%= link_to "Fixtures", matches_path %></li>
        <li><%= link_to "Photos",photos_path %></li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-3">
      <h3>Contact</h3>
      Mr. Sree Prakash<br>President, AHL
    </div>

    <!-- Social icons -->
    <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0 text-center social-icons">
      <h3> Social </h3>
      <a href="http://www.twitter.com/hockey_anna" target="_blank">
        <div class="circle-logo"><i class="fa fa-twitter"></i></div>
      </a>
      <a href="http://www.facebook.com/annahockeyleague" target="_blank">
        <div class="circle-logo"><i class="fa fa-facebook"></i></div>
      </a>
      <a href="https://www.youtube.com/channel/UCnIBoICQOJYdAPeGRhzfcdg" target="_blank">
        <div class="circle-logo"><i class="fa fa-youtube"></i></div>
      </a>
    </div> <!-- /column -->
  </div> <!-- row-->

</footer>
