<nav class="navbar navbar-default navbar-fixed-top quicklinks">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Anna Hockey League",root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav center-links">
        <li>
          <%= link_to "HOME", root_path %>
        </li>
        <li>
          <%= link_to "ABOUT", static_pages_about_path %>
        </li>
        <li><%= link_to "NEWS", reports_path %></li>
        <!-- Dropdown for teams -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TEAMS <span class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu">
              <% teams = Team.all %>
              <% teams.each do |team| %>
            <li>
              <%= link_to titlecase(team.name), Team.friendly.find(team.id) %>
            </li>
            <% end %>
            <!--<li>
              <%= link_to "Deadly Dribblerz", Team.friendly.find(2) %>
            </li>
            <li>
              <%= link_to "Rising Warriors", Team.friendly.find(3) %>
            </li>
            <li>
              <%= link_to "Roaring Ruffianz", Team.friendly.find(5) %>
            </li>
            <li>
              <%= link_to "Sizzling Bluz", Team.friendly.find(4)%>
            </li>
            <li>
              <%= link_to "Yo Yo Yakz", Team.friendly.find(6)%>
          </li> -->
      </ul>
  </li>
        <li>
            <%= link_to "FIXTURES", matches_path %>
        </li>
        <li>
            <%= link_to "GALLERY", photos_path %>
        </li>
        <li><a href="#">STATS</a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
