<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="ahl, ahl16, ahl 2016, anna hockey league, anna hockey league 2016, anna university hockey">
    <meta name="description" content="Anna Hockey League is a hockey league conducted by the students and alumni of College of Engineering Guindy every year to promote hockey.The league is comprised of 6 teams Roaring Ruffianz, Rising Warriors, Sizzling Shooterz, Yo Yo Yakz, Deadly Dribblerz and Crouching Griffinz with a total of 60 matches">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Anna Hockey League 2016</title>
    <link rel="icon" href="<%= image_path('logo.ico') %>" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

        <!-- Script to setup Facebook SDK -->
        <div id="fb-root"></div>
        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1672848076306658',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-72736012-1', 'auto');
     ga('send', 'pageview');

</script>


</body>
</html>
