<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="ahl, ahl16, ahl 2016, anna hockey league, anna hockey league 2016, anna university hockey">
    <meta name="description" content="Anna Hockey League is a hockey league conducted by the students and alumnis of College of Engineering Guindy every year to promote hockey">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AHL'16</title>
    <link rel="icon" href="<%= image_path('logo.ico') %>" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</body>
</html>
